.form {
  background: #fff;
}

.nameRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.addressRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.cityStateZip {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.locationType {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.addDetails input {
  height: 1000px;
}


form label {
  display: block;
}
form p {
  margin: 0;
}

.full-width {
  grid-column: 1 / 3;
}

.customerInfo {
  height: 100px;
}


